.center {
	text-align: center;
}
.light-blue-text.darken-1 li a {
	color: #0398db;
}
.me {
	border-radius: 50%;
}
.brand {
	height: 55px;
	width: 61;
	padding-bottom: 10px;
	padding-top: 4px;
}
.no-marg {
	margin: 0;
}
.no-pad {
	padding: 0;
}
ul.tabs li.tab a {
	color: #039be5;
}
ul.tabs li.tab a:hover {
	color: #fb8c00;
}
ul.tabs .indicator {
	background-color: #e68900;
}