<nav class="light-blue z-depth-1">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo white-text"><img class="brand" src="/assets/img/c.png"></a>
      <ul id="nav-mobile" class="right side-nav">
        <li><a href="/work/">Work</a></li>
        <li><a href="/about/">About Me</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
    </div>
  </div>
</nav>