/* line 1, ../sass/custom.scss */
.center {
  text-align: center;
}

/* line 4, ../sass/custom.scss */
.light-blue-text.darken-1 li a {
  color: #0398db;
}

/* line 7, ../sass/custom.scss */
.me {
  border-radius: 50%;
}

/* line 10, ../sass/custom.scss */
.brand {
  height: 55px;
  width: 61;
  padding-bottom: 10px;
  padding-top: 4px;
}

/* line 16, ../sass/custom.scss */
.no-marg {
  margin: 0;
}

/* line 19, ../sass/custom.scss */
.no-pad {
  padding: 0;
}

/* line 22, ../sass/custom.scss */
ul.tabs li.tab a {
  color: #039be5;
}

/* line 25, ../sass/custom.scss */
ul.tabs li.tab a:hover {
  color: #fb8c00;
}

/* line 28, ../sass/custom.scss */
ul.tabs .indicator {
  background-color: #e68900;
}
