.medium {
  font-size: 36px;
  margin-left: 6px; }

.my-grey {
  background-color: #727272 !important; }

nav ul li:hover {
  background-color: #64b5f6; }

.center {
  text-align: center; }

.light-blue-text.darken-1 li a {
  color: #0398db; }

.me {
  border-radius: 50%; }

#footer p.foot {
  line-height: 25px;
  font-size: 15px;
  font-weight: 400; }
  #footer p.foot a.m {
    line-height: 25px;
    color: #FF9800; }

#twitter {
  width: 35px;
  height: 28px; }

.brand {
  height: 50px;
  width: 50px;
  padding-bottom: 10px;
  padding-top: 7px; }

@media (max-width: 600px) {
  .brand {
    height: 45px;
    width: 45px;
    padding-top: 6px; } }
.twitter-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0; }

.no-marg {
  margin: 0; }

.no-pad {
  padding: 0; }

#tabz .no-pad {
  padding: 0; }

.ft-btn {
  padding-right: 17px;
  padding-left: 17px; }

ul.tabs li.tab a {
  color: #039be5; }
ul.tabs li.tab a:hover {
  color: #FF9800; }
ul.tabs .indicator {
  background-color: #FF9800; }

.card-footer p {
  font-size: 15px; }

.card-action {
  color: #FF9800 !important; }

@media (max-width: 450px) {
  #tabz {
    display: none; }

  #tab1,
  #tab2,
  #tab3,
  #tab4 {
    display: block !important; } }
.right {
  text-align: right; }

.left {
  text-align: left; }

@media (max-width: 768px) {
  .left,
  .right {
    text-align: center; } }
.in {
  height: 29px;
  margin-left: 10px; }

.card h1 {
  color: #FFF;
  font-size: 36px; }
.card .card-image span {
  color: #FFF;
  font-size: 36px;
  font-weight: 400; }

img.developer {
  height: auto;
  width: 45% !important;
  float: right;
  z-index: 0 !important; }

img.sqa {
  width: 59% !important;
  float: right;
  z-index: 0 !important; }

img.phys {
  z-index: 0 !important;
  width: 59% !important;
  float: right; }

img.memeify {
  z-index: 0 !important;
  float: right;
  width: 40% !important; }

#lambeau,
#masters,
#masi {
  height: 350px; }

.wide {
  width: 100%; }
